.about {
  padding: 1rem;
  margin-bottom: 2rem;
}

.about-us {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.about-us .left {
  flex: 3;
}

.about-us .left img {
  width: 100%;
}

.about-us .right {
  flex: 2;
}

.about-us .right h2 {
  font-size: 2rem;
  color: #f96502;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.about-us .right p {
  color: #b1b2b3;
  font-size: 0.9rem;
}

.our-goals {
  margin-top: 4rem;
}

.our-goals .title {
  text-align: center;
  margin: 0 10rem;
  margin-bottom: 4rem;
}

.our-goals .title h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #4c9da1;
}

.our-goals .title p {
  color: #b1b2b3;
  font-size: 0.9rem;
}

.our-goals .content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.our-goals .content .image {
  flex: 1;
}

.our-goals .content .image img {
  width: 100%;
}

.our-goals .content .text {
  flex: 1;
}

.our-goals .content .text h3 {
  font-size: 2rem;
  color: #f96502;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.our-goals .content .text p {
  color: #b1b2b3;
  font-size: 0.9rem;
  padding-right: 4rem;
}

/* ===============media queries=============== */

@media screen and (max-width: 1100px) {
  .about-us {
    gap: 1rem;
  }

  .about-us .left {
    flex: 1;
  }

  .about-us .right {
    flex: 1;
  }

  .about-us .right h2 {
    font-size: 1.8rem;
  }

  .our-goals .title {
    margin: 0 6rem;
    margin-bottom: 4rem;
  }

  .our-goals .content .text h3 {
    font-size: 1.8rem;
  }

  .our-goals .content .text p {
    padding-right: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .about-us {
    flex-direction: column;
  }

  .our-goals .title {
    margin: 0 4rem;
    margin-bottom: 4rem;
  }

  .our-goals .content {
    flex-direction: column;
  }

  .our-goals .content .text p {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 550px) {
  .about {
    padding: 0.6rem;
  }

  .about-us .right h2 {
    font-size: 1.5rem;
  }

  .about-us .right p {
    font-size: 0.8rem;
  }

  .our-goals .title {
    margin: 0;
    margin-bottom: 4rem;
  }

  .our-goals .title h3 {
    font-size: 1.6rem;
  }

  .our-goals .title p {
    font-size: 0.8rem;
  }

  .our-goals .content .text h3 {
    font-size: 1.5rem;
  }

  .our-goals .content .text p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 420px) {
  .about {
    padding: 0.4rem;
  }
  .about-us .right h2 {
    font-size: 1.2rem;
  }
  .about-us .right p {
    font-size: 0.7rem;
  }

  .our-goals .title h3 {
    font-size: 1.4rem;
  }
  .our-goals .title p {
    font-size: 0.7rem;
  }

  .our-goals .content .text h3 {
    font-size: 1.2rem;
  }

  .our-goals .content .text p {
    font-size: 0.7rem;
  }
}
