.search {
    padding: 2rem;
}

.search-form {
    width: 70vw;
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem 1.5rem;
    text-transform: capitalize;
    border-radius: 0.3rem;
    text-align: center;
}

.search-form label {
    display: block;
    font-weight: 600;
    letter-spacing: 0.25rem;
    color: #0c0b13;
    margin-bottom: 0.4rem;
}

.form-control input {
    width: 100%;
    border: none;
    border-color: transparent;
    background: #ffffff;
    border-radius: 15.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: #000;
}
.icon-s{
        
            margin-left: -2rem;
            margin-top: 0.8rem;
}

@media screen and (max-width: 600px) {
    .search-form {
        width: 80vw;
        padding: 0.6rem 0.8rem;
    }

    .search-form label {
        font-size: 0.8rem;
    }

    .form-control input {
        padding: 0.25rem 0.5rem;
    }

    .form-control input::placeholder {
        font-size: 0.8rem;
    }
}