.scrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}

.showScroll {
    display: block;
}
