.loading {
  height: 100vh;
  display: grid;
  place-items: center;
}

.loading svg {
  font-size: 2.5rem;
  animation: rotation 2s infinite linear;
  color: #72e7e1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
