.search-list {
  margin-bottom: 2rem;
  padding: 1rem;
}

.search-list .title {
  margin-bottom: 1rem;
}

.search-list .title h2 {
  color: #f96502;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 700;
}

.search-list .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.search-list .content .result {
  overflow: hidden;
  border-radius: 0.25rem;
  padding: 0.5rem;
  transition: 0.4s;
}

.search-list .content .result:hover {
  background-color: #000;
}

.search-list .content .result img {
  width: 100%;
  height: 20rem;
}

.content .result .bottom {
  padding: 0.5rem;
}

.content .result .bottom span {
  font-size: 0.75rem;
  color: #b1b2b3;
}

.content .result .bottom p {
  font-size: 0.7rem;
}

.result .details {
  margin-top: 1rem;
}

.result .details a {
  text-decoration: none;
  background-color: #f47521;
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 0.8rem;
  transition: 0.4s ease-in-out;
}

.result .details a:hover {
  color: #000;
}

/* ===================media queries=================== */

@media screen and (max-width: 1100px) {
  .search-list .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .search-list {
    padding: 0.6rem;
  }

  .search-list .title h2 {
    font-size: 1.2rem;
  }

  .search-list .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

@media screen and (max-width: 420px) {
  .search-list {
    padding: 0.2rem;
  }
  .search-list .content {
    gap: 0.2rem;
  }

  .search-list .content .result img {
    width: 100%;
    height: 17rem;
  }
}
